name: Build and deploy JAR app to Azure Web App - amitechAPS03

on:
  push:
    branches:
      - main
    paths:
      - "api-java/**"
      - ".github/workflows/main_amitechaps03.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'microsoft'

      - name: Build with Maven
        run: mvn clean package
        working-directory: api-java

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: api-java/target/*.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_36DB064DA8ED4E3F83800DF7BC3E4263 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8F77C232F5074EEC8F15EDAD9060177E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_BE06891F639C4966A4E50147ADAE8E69 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: amitechAPS03
          slot-name: Production
          package: '*.jar'
